
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-weight: 300;
  font-size: 15px;
  width: 50vw;
  height: 60vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  width: 98%;
  height: 47px;
  padding-left: 10px;
}

form {
  width: 100%;
  height: 47px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding-bottom: 0;
  margin-top: -15px;
}

.write-task {
  border: none;
  width: 45%;
  padding-left: 15px;
  outline: 0;
}

ul {
  padding: 0;
  width: 100%;
  overflow-y: scroll;
}

ul li {
  list-style: none;
  border-bottom: solid 1px #f6f6f6;
  margin-top: -15px;
}

.item-label {
  height: 47px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
  padding: 6px 20px;
}

.item-content {
  width: 40%;
}

.item-descriptiont {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.clear {
  margin-top: -15px;
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  height: 70px;
}

.line-through {
  text-decoration: line-through;
}

.inputTask {
  border: none;
  padding-left: 10px;
  padding-left: 15px;
  color: black;
}

.hide {
  display: none;
}
